
.loader {
    width: calc(20 / 1440 * 100vw);
    padding: calc(3 / 1440 * 100vw);
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--green);
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}
  
  
  @media screen and (max-width: 540px) {
        .loader {
            width: calc(16 / 414 * 100vw);
            padding: calc(2 / 414 * 100vw);
        }
    }