.topContainer {
    display: flex;
    align-items: center;
    gap: calc(10 / 1440 * 100vw);
    margin-bottom: calc(20 / 1440 * 100vw);
    font-size: calc(11 / 1440 * 100vw);
    text-transform: capitalize;
    color: var(--description);
}

.postDetailsContainer {
    display: flex;
    align-items: center;
    gap: calc(5 / 1440 * 100vw);
}

.durationContainer {
    display: flex;
    align-items: center;
    gap: calc(10 / 1440 * 100vw);
}

.postDetailsContainer p {
    font-weight: bold;
    cursor: pointer;
    transition: var(--allTransition)
}

.postDetailsContainer p:hover {
    text-decoration: underline;
}

.spaceContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.readContainer {
    width: 70%;
}


.tableOfContentsContainer {
    width: 25%;
    top: calc(10 / 1440 * 100vw);
    position: sticky;
}

.tableOfContentsSubContainer {
    border: var(--border);
    width: 100%;
    padding: calc(15 / 1440 * 100vw);
    border-radius: calc(10 / 1440 * 100vw);
}

.updatedAt {
    margin-top: calc(10 / 1440 * 100vw);
}


.youtubeContainer {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: calc(8 / 1440 * 100vw);
    background-color: #000;
}

.youtubeIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.h1 {
    font-size: calc(36 / 1440 * 100vw);
    font-weight: bold;
    line-height: calc(1.2 * 36 / 1440 * 100vw);
    margin-top: calc(50 / 1440 * 100vw);
}


.h2 {
    font-size: calc(1.25 * 30 / 1440 * 100vw);
    font-weight: bold;
    margin-top: calc(50 / 1440 * 100vw);
}

.h3 {
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 600;
    line-height: calc(1.3 * 24 / 1440 * 100vw);
    margin-top: calc(50 / 1440 * 100vw);

}

.block {
    margin-bottom: calc(20 / 1440 * 100vw);
}

.block p {
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(1.3 * 24 / 1440 * 100vw);
}

.tableOfContentsHeaderContainer {
    display: flex;
    align-items: center;
    gap: calc(5 / 1440 * 100vw)
}

.tableOfContentsHeaderContainer h3 {
    font-size: calc(20 / 1440 * 100vw);
}

.tableOfContentIcon {
    font-size: calc(24 / 1440 * 100vw);
}

.unOrderedList {
    margin-top: calc(20 / 1440 * 100vw);
    gap: calc(100 / 1440 * 100vw);
    padding: 0 calc(20 / 1440 * 100vw);
    color: var(--description);
}

.unOrderedList li {
    margin-top: calc(10 / 1440 * 100vw);
    transition: var(--allTransition);
    cursor: pointer;
}

.unOrderedList li:hover {
    text-decoration: underline;
}