.container {
    background: #fff;
    height: calc(52 / 1440 * 100vw);
    border-radius: calc(8 / 1440 * 100vw);
    padding: calc(4 / 1440 * 100vw);
    gap: calc(4 / 1440 * 100vw);
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    border: calc(1 / 1440 * 100vw) solid #d2d6db;
    width: 100%;
    height: 100%;
    border-radius: calc(8 / 1440 * 100vw);
    padding: calc(12 / 1440 * 100vw);
    font-size: calc(12 / 1440 * 100vw);
}

.input::placeholder {
    font-size: calc(12 / 1440 * 100vw);
}

.searchButton {
    height: 100%;
    width: calc(82 / 1440 * 100vw);
    background: var(--background);
    color: #fff;
    border-radius: calc(8 / 1440 * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(12 / 1440 * 100vw);
    cursor: pointer;
    transition: var(--allTransition);
}

.searchButton:disabled {
    cursor: not-allowed;
}

.searchButton:not(:disabled):hover {
    opacity: var(--opacity);
}